<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="/newplayer">
	   Please enter the name of the player you would like to add:
		<input type="text" name="pName">
	
	<button type = "submit">submit</button>
	</form>
	
</body>
</html>