<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<% players.forEach(function(player){ %>
	<%=player.name; %>
	<% })%>
	<br><a href="/puppies/new">click to add more players</a>
</body>
</html>

